body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 25px;
}

#map {
    height: 500px;
    
}

.jumbotron  {
    padding-top: 50px;
  padding-bottom: 20px;
    height: 500px;
    
}
.jumbotron text-center col-md-6 {
    padding-top: 50px;
  padding-bottom: 20px;
    height: 500px;

}


.form-group {
    padding-top: 10px;
    width: 300px;
    
}

.form-horizontal {
    width: 600px;
}