{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Bus App</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'dbus/index.css' %}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.standalone.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <!-- moment.js must be loaded first -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>

<!-- bootstrap-datetimepicker -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>


  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <h1>Bus App</h1>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><img src="/static/images/bus.png"> <img src="/static/images/ucd.png"><span class="sr-only">(current)</span></li>
          </ul>
        </div><!--/.nav-collapse -->
    </nav>        
      
    <div class="container">
      <div class="jumbotron text-center col-md-6">
        <form method = "POST" class = "post-form" id="post-form">{% csrf_token %}
          Route:<br>
          <input type="text" name="route">
          <br>
          Start Stop:<br>
          <input type="text" name="start">
          <br>
          End Stop:<br>
          <input type="text" name="end">
          <br>
         <br>
            <p>leave now <input type="checkbox" id="checkbox" onclick="disappear()"></p>
      <div id="new">
         <input type="datetime-local" id="dateTime" data-date-inline-picker="true" /></div>
            <br>
          <button type = "submit" class = "save btn btn-default">Go</button>
        </form>
        <div id="results"><p> </p></div>
      </div> 
      <!-- Main component for a primary marketing message or call to action -->
      <div id='map' class="jumbotron text-center col-md-6"></div>
    </div> <!-- /container -->

    <script src="{% static 'dbus/markerclusterer.js' %}"></script>
    <script src="{% static 'dbus/jquery-3.3.1.min.js' %}"></script>
    <script type = "text/javascript">
function disappear(){
          var chBox=document.getElementById("checkbox");
    var box = document.getElementById("new")
        if (chBox.checked==true) {
            box.style.display="none";
        }
        else
            {
            box.style.display="block";
        }
}
      $(document).ready(function(){

          
          $('#post-form').on('submit', function(event){
          event.preventDefault();
          console.log("form submitted!");
          $('#results > p').text('waiting...');
          getPredictions()
        });
});
      
        function getPredictions(){
        var cBox=document.getElementById("checkbox").checked
        var dTime=new Date(document.getElementById("dateTime").value);
       
          route = $('input[name="route"]').val();
          start_stop = $('input[name="start"]').val();
          end_stop = $('input[name="end"]').val();
        if (cBox==true) {
         date = new Date();
          year = date.getFullYear();
          month = date.getMonth() + 1;
          day = date.getDate();
          hour = date.getHours();
            
          console.log("Route =", route)
          console.log("Start Stop =", start_stop)
          console.log("End Stop =", end_stop)
          console.log("Day =", day)
          console.log("Hour =", hour)
        }
            else {
      
          //  date = new Date();
        
                
          var diff = dTime;

          year=diff.getFullYear();
          month = diff.getMonth() + 1;
          day = diff.getDate();
          hour = diff.getHours();
          console.log("Route =", route)
          console.log("Start Stop =", start_stop)
          console.log("End Stop =", end_stop)
          console.log("Day =", day)
          console.log("Hour =", hour)
    
                }
          
            current = new Date();
            c_year = current.getFullYear();
          c_month = current.getMonth() + 1;
          c_day = current.getDate();
          c_hour = current.getHours();
        var max_day;
            var max_hour;
        if ((c_month == 9 || c_month == 4 || c_month == 6 ||  c_month == 11) && (c_day<=30 && c_day>=26))  {
           max_day=c_day-25;
            }         
        else if ((c_month==2) && (c_day<=27 && c_day>=23)) {
            max_day=c_day-25;
        }
        else if (c_day<=31 && c_day>=27){
            max_day=c_day-25;
      
        }
            else {
            max_day=c_day+5;
         max_hour=c_hour-3;
            }
            
            
            
             //   alert(max_day);
               // alert(max_hour);
            24 <29 & c_day 
            if (day <=max_day && day>=c_day){
                alert("all good");
            }else {
                alert ("out of range for weather")
            }
            
            
            
            
          $.get('/predict_request/', {route: route, start_stop: start_stop, 
            end_stop: end_stop, year: year, month: month, day: day, 
            hour: hour}, function(data){
              print (data)
              $('#results > p').html("Estimated Journey Time:<br>" + data);
          });
	        $.get('/popStop/', {route: route, start_stop: start_stop, end_stop: end_stop}, function(data){
          	popStops(data);
            drawRoute(data);
          });
        };
 
      function Go(){
          document.getElementById('results').innerHTML= " "
          var start_stop;
          var end_stop;
          GetStopID(start_stop, end_stop);
          
      }


      function drawRoute(data){
	
	directionsDisplay.setMap(map);

	var len = Object.keys(data).length
        
        var start = new google.maps.LatLng(Number(data[0]["lat"]), Number(data[0]["lon"]))
        var end = new google.maps.LatLng(Number(data[len - 1]["lat"]), Number(data[len - 1]["lon"]))
	
        var request = {
		origin: start,
		destination: end,
		travelMode: 'TRANSIT',
		transitOptions: {
			modes : ['BUS'],
			routingPreference : 'FEWER_TRANSFERS'
			},
		
		}
	directionsService.route(request, function(result, status){
                
		if (status == 'OK') {
			
			directionsDisplay.setDirections(result);
			

		}
	});
}


              
          
          
          
          
      // 1. getRoutes - takes name of start bus stop and end bus stop and translates to bus stop number. 
      // Finds routes that pass through each bus stop and selects only those common to both. 
      // 2. Determines how many stops between start and end // returns routes and stops between each

      //next take time of day, day of week, weather and input into predictor?//
          
          
      function GetRoutes(start, end) {
        // GetPrediction(start, end, route);
          //match the start and end bus to start and end bus 
          //get routes
          //get stops between
      }
              
//      function GetPrediction(start, end, route) {
//          var dayInput = document.getElementById("exampleFormControlSelect1Day");
//          var day = selectTime.options[selectTime.selectedIndex].text;
//          var timeInput = document.getElementById("exampleFormControlSelect1Time");
//          var time = selectDay.options[selectDay.selectedIndex].text;
//          
//          if (day == " " || time == " ") {
//              var dt = new Date();
//              var time = dt.getHours() + ":" + dt.getMinutes();
//              //var day =
//                  
//              // new Date($.now());
//          //
//          }
//      }

var map; 
var markers = []
var directionsDisplay;
var directionsService;
        
      function initMap(){

      directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers:true});

      directionsService = new google.maps.DirectionsService();

   	
      map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: {lat: 53.3498, lng: -6.2603}
              });
               
		
             var trafficLayer = new google.maps.TrafficLayer();
             trafficLayer.setMap(map);
/*
      markers = [];
      {% for item in stops %}
                      var name = "{{item.stop_name}}"
                      var latitude = "{{item.latitude}}"
                      var longitude = "{{item.longitude}}"
                      var marker = new google.maps.Marker({
                              position: {lat: Number(latitude), lng: Number(longitude)},
                              map: map,
                              title: name
                      });
                      markers.push(marker);
              {% endfor %}
              var markerCluster = new MarkerClusterer(map, markers,
                  {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
*/
      }

     function popStops(context){
      console.log(context[0]["rtpi"])      
      removeMarkers();
      markers = []
      for (var key in context) {
           
          var marker = new google.maps.Marker({
                              position: {lat: Number(context[key]["lat"]), lng: Number(context[key]["lon"])},
                              map: map,
                              title: context[key]["stop"],
                              //icon :  "/static/images/bus-station.svg"
                              
});

          markers.push(marker)
                           
                    };
		var content = "<table> <tr> <th> Route </th> <th style = 'padding : 5px'> ETA(mins) </th> </tr> " 
		
		for (i in context[0]["rtpi"]["results"]){
			
			content = content + "<tr> <td>" + context[0]["rtpi"]["results"][i]["route"] + "</td> <td>" + context[0]["rtpi"]["results"][i]["duetime"] + "</td> </tr>"
		};
        
	
		var infowindow = new google.maps.InfoWindow({
			content: content

		});


		infowindow.open(map, markers[0]);

		google.maps.event.addListener(markers[0], 'click', function() {
			console.log("hello");
			infowindow.open(map, markers[0]);
		});


		map.setCenter(new google.maps.LatLng(Number(context[0]["lat"]), Number(context[key]["lon"])));   
};


function removeMarkers(){

	for (var i = 0; i < markers.length; i++){
		markers[i].setMap(null);
	};
};

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADAq7_ArNs1g_fzNE-tLB0scnM5UtXXSM&callback=initMap" type = 'text/javascript'></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>   
    
  </body>
</html>
