{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Bus App</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'dbus/index.css' %}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.standalone.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <!-- moment.js must be loaded first -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>

<!-- bootstrap-datetimepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>


  <body background="https://cdn.wallpapersafari.com/1/49/qeG3k4.jpg" style="no-repeat">
      <div class="background"></div>
    <!-- Static navbar -->
    <nav class="navbar navbar-static-top" style=background-color:transparent; style=height:  20px !important; >
     
        <div class="navbar-header">
          <h1>Bus App</h1>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="active">   <img id="icon" src="http://openweathermap.org/img/w/10d.png" />
         
            {{weather.mainDescription}} {{ weather.temp }} &#8451;
<span class="sr-only">(current)</span></li>
           

          </ul>
       <!--/.nav-collapse -->
      </nav>      
         
      

       
      <div class="jumbotron text-center col-md-4">
       
        

    <div class="panel panel-default">
      <div class="panel-heading">
      <div class="btn-group btn-group-justified">
    <a class="btn btn-primary active" data-toggle="collapse"  href="#collapseExample" data-parent="#accordian" role="button" aria-expanded="false" aria-controls="collapseExample" onclick="showDiv()">
    Journey Planner
 
          </a>  
             <a class="btn btn-primary active" data-toggle="collapse"  href="#collapseExample1" data-parent="#accordian" role="button" aria-expanded="false" aria-controls="collapseExample" onclick="disappear1()">
    Route Search
  </a>   
           <a class="btn btn-primary active" data-toggle="collapse"  href="#collapseExample2" data-parent="#accordian" role="button" aria-expanded="false" aria-controls="collapseExample" onclick="disappear2()">
    Map Search
  </a>   
      </div></div>

	     
                  <div class="collapse in" id="collapseExample" >
  <div class="panel-collapse collapse in"><div class="panel-body">
        <form method = "POST" class = "post-form" id="post-form1" required>{% csrf_token %}
            
              <h4>Start Address: </h4><input id="start_address" type="text" name="start_address">
	
         <h4> End Address: </h4><input id="end_address" type="text" name="end_address" required>
 <br>
	        
            
	       <br> <button id = "address_submit" type = "submit" class = "save btn btn-default" required>Go</button>
      </form></div></div></div>
        <div class="collapse" id="collapseExample1" data-parent="#userOptions">
  <div class="panel-collapse collapse in"> <div class="panel-body">
        <!--  https://getbootstrap.com/docs/4.0/components/collapse/ --> 
        <form method = "POST" class = "post-form" id = "post-form">{% csrf_token %}
            <select id="routes" required>
              <option value="">Select Route</option>
            </select><br>
            
            <br>
            
            <select id="start" required>  
              <option value="">Select Start Stop</option>
            </select><br>
            
      <br>
            
            <select id="end" required>
              <option value="">Select End Stop</option>
            </select>
            <br>
            <br>
            
            Leave Now <input type="checkbox" id="checkbox" onclick="disappear()" checked><br>
        <div id='date_input'>
          <input type='datetime-local' id='datetime' data-date-inline-picker="true" pattern="[0-9]{4}/[0-9]{2}/[0-9]{2} [0-9]{2}:[0-9]{2}" placeholder="YYYY/MM/DD HH:MM" />
        </div>
            <br>
            <button type = "submit" class = "save btn btn-default">Go</button>
        </form>
         <div class="collapse in" id="collapseExample2" >
  <div class="panel-collapse collapse in"><div class="panel-body">
        <form method = "POST" class = "post-form" id="post-form2" required>{% csrf_token %}
            
              <h4>Start Address: </h4><input id="start_address" type="text" name="start_address">
	
         <h4> End Address: </h4><input id="end_address" type="text" name="end_address" required>
 <br>
	        
            
	       <br> <button id = "address_submit" type = "submit" class = "save btn btn-default" required>Go</button>
      </form></div></div></div>
    </div></div></div>
        
        <div id="results"><p>  </p></div>
      </div> 
            </div>  
      <!-- Main component for a primary marketing message or call to action -->
    <!--   -->
        
        
        <div id='map' class="jumbotron text-center col-md-8">> </div>
            <!-- /container -->

    <script src="{% static 'dbus/markerclusterer.js' %}"></script>
    <script src="{% static 'dbus/jquery-3.3.1.min.js' %}"></script>
    <script type = "text/javascript">

      $('#routes').prop('disabled', true);
      $('#routes').html('<option>Loading...</option>');
      $('#end').prop('disabled', true);
      $('#start').prop('disabled', true);
      var map; 
      var markers = []
      var directionsDisplay;
      var directionsService;
      var placeSearch, autocomplete_start, autocomplete_end; 
      var weather_description = "{{weather.description}}";
      
      var c = new Date();
      var f = new Date(c);
      f.setDate(f.getDate() + 4);

      function stringifyDate(year, month, day, hour, minute, second) {
        if (++month < 10)
          month = '0' + month;
        if (day < 10)
          day = '0' + day;
        if (hour < 10)
          hour = '0' + hour;
        return year + '-' + month + '-' + day + 'T' + hour + ':' + minute + ':' + second;
      }

      min_string = stringifyDate(c.getFullYear(), c.getMonth(), c.getDate(), c.getHours(), c.getMinutes(), c.getSeconds());
      max_string = stringifyDate(f.getFullYear(), f.getMonth(), f.getDate(), f.getHours(), f.getMinutes(), f.getSeconds());

      $('#datetime').attr('min', min_string);
      $('#datetime').attr('max', max_string);

      if ($('#checkbox').is(':checked')) {
        $('#date_input').hide();
      }

   
       
//        function disappear1(){
//        $('#post-form').hide();
//             $('#post-form').show();
//               $('#post-form1').hide();
//      }
        
//             function showDiv(){
//        $('#post-form1').hide();
//         $('#post-form1').show(); 
//     }
        
         $('#post-form2').hide();
        function disappear1(){
        $('#post-form').show();
             $('#post-form1').hide();
           $('#post-form2').hide();
            
      }
        
        function showDiv(){
            $('#post-form').hide();
          
             $('#post-form1').show();
      }
        
          function disappear2(){
     
      $('#post-form').hide();
                 $('#post-form2').show();
      }
        
        
      function disappear(){
        $('#date_input').toggle();
      }

        
	    function validateForm() {

		    start = document.getElementById("start_address").value;
		    end = document.getElementById("end_address").value;

        if (start == "" || end == "") {
			    console.log("invalid")
			    $('#invalid > p').text("Oops, please complete the form and try again");
			    return false;
        }

		    else {
			    $('#invalid > p').text("");
			    return true;
		    }		
	    }
      
      var icon_code;
      switch(weather_description) {
        case 'broken clouds':
          icon_code = '04';
          break;
        case 'clear sky':
          icon_code = '01';
          break;
        case 'few clouds':
          icon_code = '02';
          break;
        case 'scattered clouds': 
          icon_code = '03';
          break;
        case 'shower rain':
          icon_code = '09';
          break;
        case 'rain': 
          icon_code = '10';
          break;
        case 'thunderstorm': 
          icon_code = '11';
          break;
        case 'snow':
          icon_code = '13';
          break;
        case 'mist':
          icon_code = '50';
          break;
        default: 
          icon_code = '04';
      }
      
      if (7 < new Date().getHours() < 21) {
        icon_code += 'd';
      } else {
        icon_code += 'n';
      }
      $("#icon").attr("src","http://openweathermap.org/img/w/" + icon_code + ".png");

      function initMap(){
	      directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers:true});
        directionsService = new google.maps.DirectionsService();
        map = new google.maps.Map(document.getElementById('map'), {
        	zoom: 12,
          center: {lat: 53.3498, lng: -6.2603}
            
        });
        var trafficLayer = new google.maps.TrafficLayer();
	      trafficLayer.setMap(map);
          
            // MY NEW BITS ARE HERE
    
   
       var count=0;
    
    google.maps.event.addListener(map, 'click', function(event) {

//alert(event.latLng.lat() + ", " + event.latLng.lng());
        newLat=event.latLng.lat();
        newLng=event.latLng.lng();
        count++;
        
        if (count <=2) {
            placeMarker(event.latLng);
        }
     
 //      alert(count);

            
        
        function placeMarker(location) {
    var marker1 = new google.maps.Marker({
        position: location, 
        map: map
    })};
        
        
        var geocoder=new google.maps.Geocoder;
        geocodeLatLng(geocoder, map);
        
        function geocodeLatLng(geocoder, map) {
        var latlng={lat:newLat, lng: newLng};
   
        geocoder.geocode({'location': latlng}, function(results, status) {
            if (status ==='OK') {
                 console.log(results);
     var address = (results[0].formatted_address);
                
       //         alert(address);
                
                 if (count%2==0) {
            document.getElementById('end_address').value=address;
        }else {
                document.getElementById('start_address').value=address;
    }
    }else {
        alert("no results found");
    }
    // This is checking to see if the Geoeode Status is OK before proceeding
  
    }
  )};
        //https://developers.google.com/maps/documentation/javascript/examples/geocoding-reverse
       
          
        
        
		  //    getDirections();
 //        new google.maps.Circle({
   //         map : map,
    //        center : {lat: newLat, lng: newLng},
//            strokeColor:'#00FFCC',
  //          strokeWeight:2,
//            fillOpacity:0,
//            radius:1000
  //      });
//        function calculateDist(p1, p2) {
  //          r=google.maps.geometry.spherical.computeDistanceBetween(newLng, newLat);
    //        return r;
      //      alert(r);
        //}
        
        //https://stackoverflow.com/questions/14598426/how-to-detect-if-a-point-is-in-a-circle
});
    
   
    
    // AND THEY END HERE
    
    

	      //autocomplete section on init
        var input_start = document.getElementById('start_address');
	      var input_end = document.getElementById('end_address');

	      var store = []

	      var cityBounds = new google.maps.LatLngBounds(
		      new google.maps.LatLng(52.840362, -7.228772),
		      new google.maps.LatLng(54.017627, -6.164425)
		    );

        var options = {
		      bounds: cityBounds,
          types: ['geocode'],
          componentRestrictions : {country: 'ie'}
        };

	      var fields = [
		      'address_components',
		      'geometry',
		      'icon',
		      'name'
	      ];
        
        autocomplete_start = new google.maps.places.Autocomplete(input_start, options);
	      autocomplete_start.setFields(fields);
        autocomplete_end = new google.maps.places.Autocomplete(input_end, options);
	      autocomplete_end.setFields(fields);

        store.push(autocomplete_start);
        store.push(autocomplete_end);

	      for (var i = 0; i< store.length; i++) {
		      store[i].addListener('place_changed', function() {
			      if (store[i]){
			        var place = store[i].getPlace();
			        if (!place.geometry) {
				        window.alert("No details available for input: '" + place.name + "'");
				        return;
			        }
			      }
			    });
	      }

	      return;
      };

      function getDirections() {

       return new Promise(function(resolve, reject) {	
          var result = []
          var walk_time	
          var start = document.getElementById("start_address").value;
          var end = document.getElementById("end_address").value;
        
          var request = {
            origin: start,
            destination: end,
            travelMode: 'TRANSIT',
            transitOptions: {
              modes: ['BUS'],
              routingPreference : 'FEWER_TRANSFERS'
            },
          }
    
          directionsService.route(request, function(result, status){
            var context = {}
            var step_no = 1
            var walk_time = 0;
            if (status == "OK") {
              steps = result.routes[0].legs[0].steps
              for (var i = 0; i<steps.length; i++) {
                if (steps[i].travel_mode == "TRANSIT") {
                  route = []
                  
                  var lat1 = steps[i].path[0].lat()
                  var lat2 = steps[i].path[steps[i].path. length - 1].lat()
                  var lng1 = steps[i].path[0].lng()
                  var lng2 = steps[i].path[steps[i].path.length - 1].lng()
                  
                  route.push(lat1);
                  route.push(lng1)
                  route.push(lat2)
                  route.push(lng2)
                  context[step_no] = route
                  step_no++
                } else {
                    walk_time += steps[i].duration.value;
                }
              }
              
              context["walk_time"] = walk_time
              resolve(context);	
            }
          });
        });
      }	

      var stops = {};
      {% for stop in stops %}
        var mystop = {};
        mystop["lat"] = "{{stop.lat}}";
        mystop["long"] = "{{stop.long}}";
        mystop["stop_name"] = "{{stop.stop_name}}";
        mystop["stop_address"] = "{{stop.stop_address}}";
        mystop["zone"] = "{{stop.zone}}";
        stops['{{stop.stop_id}}'] = mystop;
      {% endfor %}

      var routes = {};
      {% for rn in route_numbers %}
        routes["{{rn}}"] = {'I':[],'O':[]};
      {% endfor %}

      {% for stop in routes %}
        var mystop = {}
        mystop['stop_id'] = "{{stop.stop_id}}";
        mystop['sequence'] = "{{stop.sequence}}";
        mystop['distance'] = "{{stop.distance}}";
        routes['{{stop.route_number}}']['{{stop.route_direction}}'].push(mystop)
      {% endfor %} 


      $(document).ready(function(){

        /*$.when(
          $.get('/get_routes/', function(data){
            routes=JSON.parse(data);
          }),
          $.get('/get_stops', function(data){
            stops=data;
          })
        ).done( function(){
          stops=JSON.parse(stops);
          routes=JSON.parse(routes);
        });*/

        /*$.ajax({
          url: 'get_routes/',
          success: function (data) {
              routes=data;
          },
          async: false
        });

        $.ajax({
          url: 'get_stops/',
          success: function (data) {
              stops=data;
          },
          async: false
        });

        route=JSON.parse(routes)
        stops=JSON.parse(stops)*/

        $('#routes').html('<option>Select Route</option>');
        Object.keys(routes).forEach(function(element){
          $('#routes').append('<option>' + element + '</option>');
          $('#routes').prop('disabled', false)
        })        
          
        $("#routes").change(function(){
          var route = $("#routes option:selected").text();
          if (route == "Select Route") {
            return;
          }
          $('#start').html('<option>Loading...</option>');
          $('#start').prop('disabled', true);
          var options = "";
          routes[route]['I'].forEach(function(element){
            options += '<option value="Incoming">' + element.stop_id + ", " + stops[element.stop_id]['stop_address'] + " (Incoming)</option>";
          });
          routes[route]['O'].forEach(function(element){
            options += '<option value="Outgoing">' + element.stop_id + ", " + stops[element.stop_id]['stop_address'] + " (Outgoing)</option>";
          });
          $('#start').html('<option>Select Start Stop</option>');
          $('#start').append(options);
          $('#start').prop('disabled', false);
        }); 
          
        $("#start").change(function(){
          var route = $("#routes option:selected").text();
          var start = $("#start option:selected").text().split(',')[0];
          if (start == "Select Start Stop"){
            return;
          }
          var direction = $('#start').val();
          var d = direction.substr(0,1);
          $('#end').html('<option>Loading...</option>');
          $('#end').prop('disabled', true);
          var options = "";
          var found = false;

          routes[route][d].forEach(function(element){
            if (found){
              options += '<option>' + element.stop_id + ", " + stops[element.stop_id]['stop_address'] + " (" + direction + ")</option>";
            };
            if (start == element.stop_id){
              found = true;
            };
          });

          $('#end').html('<option>Select End Stop</option>');
          $('#end').append(options);
          $('#end').prop('disabled', false);  
        });
          
        $('#post-form').on('submit', function(event){
          event.preventDefault();
          console.log("form submitted!");
          $('#results > p').text('waiting...');
          getPredictions()
        });

        function getInputDate(){
          if ($('#checkbox').is(':checked')){
            console.log('actual datetime')
            return c;
          } else {
            console.log('input datetime')
            return new Date($('#datetime').val());
          }
        }

        function getPredictions(){
          route = $("#routes option:selected").text();
          start_stop = $('#start option:selected').text().split(',')[0];
          end_stop = $('#end option:selected').text().split(',')[0];
          date = getInputDate()
          year = date.getFullYear();
          month = date.getMonth() + 1;
          day = date.getDate();
          hour = date.getHours();
          console.log("Route =", route)
          console.log("Start Stop =", start_stop)
          console.log("End Stop =", end_stop)
          console.log("Day =", day)
          console.log("Hour =", hour)
          $.get('/predict_request/', {route: route, start_stop: start_stop, 
            end_stop: end_stop, year: year, month: month, day: day, 
            hour: hour}, function(data){
              $('#results').html(data);
          });
	        $.get('/popStops/', {route: route, start_stop: start_stop, end_stop: end_stop}, function(data){
            popStops(data['stops']);
            drawRoute(data['stops']);
          });
        };

		    $('#post-form1').on('submit', function(event){
          event.preventDefault()
          valid = validateForm()
			    if (valid) {
			      $('#results > p').text('waiting...');
			      getPredictionsAddress();
		      }
		    });

        function drawRoute(data){
          directionsDisplay.setMap(map);
          var start = new google.maps.LatLng(Number(data[0][0]["lat"]), Number(data[0][0]["lon"]));
          for ( i in data ) {
            var len = Object.keys(data[i]).length
            var end = new google.maps.LatLng(Number(data[i][len - 1]["lat"]), Number(data[i][len - 1]["lon"]))
          }
          var request = {
            origin: start,
            destination: end,
            travelMode: 'TRANSIT',
            transitOptions: {
              modes : ['BUS'],
              routingPreference : 'FEWER_TRANSFERS'
            },       
          }
    
          directionsService.route(request, function(result, status){              
            if (status == 'OK') {            
              directionsDisplay.setDirections(result);
              
            }
          });
        }          

        function popStops(context){
          removeMarkers();
          markers = []
          for (var i in context) {
            
            for (var key in context[i]) {   
              var marker = new google.maps.Marker({
                position: {lat: Number(context[i][key]["lat"]), lng: Number(context[i][key]["lon"])},
                map: map,
                title: context[i][key]["stop"],
                //icon :  "/static/images/bus-station.svg"
                  
              });
                
                
                
               
              markers.push(marker)
            };

            if (!$('#checkbox').is(':checked')){

              var content = "<table> <tr> <th> Route </th> <th style = 'padding : 5px'> ETA(mins) </th> </tr> " 
              for (j in context[0][0]["rtpi"]["results"]){
                content = content + "<tr> <td>" + context[0][0]["rtpi"]["results"][j]["route"] + "</td> <td>" + context[0][0]["rtpi"]["results"][j]["duetime"] + "</td> </tr>"
              };
              
              var infowindow = new google.maps.InfoWindow({
                content: content
              });
            
              infowindow.open(map, markers[0]);
              google.maps.event.addListener(markers[0], 'click', function() {
                console.log("hello");
                infowindow.open(map, markers[0]);
              });
            }

          };
        };

        async function getPredictionsAddress() {
		
          var context = await getDirections();
          output = []
          output.push(context)		
          context = JSON.stringify(output)		
          
          date = getInputDate();
          year = date.getFullYear();
          month = date.getMonth() + 1;
          day = date.getDate();
          hour = date.getHours();
      
          $.get('/predict_address/', {context: context, year: year, month: month, day: day, hour: hour}, function(data) {
            if (data["error"] == "0") {
              popStops(data["stops"])
              drawRoute(data["stops"])
              $('#results > p').html("Estimated Journey Time:<br>" + data["prediction"]);
            } else {
              $('#results > p').html("Oops, something went wrong enter a different route and please try again");
            }
          });
        };

        function removeMarkers(){
          for (var i = 0; i < markers.length; i++){
            markers[i].setMap(null);
          };
        };
      });

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADAq7_ArNs1g_fzNE-tLB0scnM5UtXXSM&callback=initMap&libraries=places" type = 'text/javascript'></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>   
    
  </body>
</html>
