{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Bus App</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'dbus/index.css' %}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.standalone.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <!-- moment.js must be loaded first -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>

<!-- bootstrap-datetimepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      
  </head>


  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <h1>Bus App</h1>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><img src="/static/images/bus.png"> <img src="/static/images/ucd.png"><span class="sr-only">(current)</span></li>
          </ul>
        </div><!--/.nav-collapse -->
    </nav>        
      
    <div class="container">
      <div class="jumbotron text-center col-md-6">
        <form method = "POST" class = "post-form" id="post-form">{% csrf_token %}
          Route:<br>
            <select id="routes" >
              <option>Select Route</option>
            </select>

          <br>
          Start Stop:<br>
            <select id="start" disabled>  
              <option>Select Route</option>
            </select><br>
          End Stop:<br>
            <select id="end" disabled>
              <option>Select Start Stop</option>
            </select>
            <br>
          <button type = "submit" class = "save btn btn-default">Go</button>
        </form>
        <div id="results"><p> </p></div>
      </div> 
      <!-- Main component for a primary marketing message or call to action -->
      <div id='map' class="jumbotron text-center col-md-6"></div>
    </div> <!-- /container -->

    <script src="{% static 'dbus/markerclusterer.js' %}"></script>
    <script src="{% static 'dbus/jquery-3.3.1.min.js' %}"></script>
    <script type = "text/javascript">
      $('#end').prop('disabled', true);
      $('#start').prop('disabled', true);
      var map; 
      var markers = []
      var directionsDisplay;
      var directionsService;
      
      function initMap(){
        directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers:true});
        directionsService = new google.maps.DirectionsService();
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: {lat: 53.3498, lng: -6.2603}
        });   
        var trafficLayer = new google.maps.TrafficLayer();
        trafficLayer.setMap(map);
      }
      
      var stops = {};
      {% for stop in stops %}
        var mystop = {};
        mystop["lat"] = "{{stop.lat}}";
        mystop["long"] = "{{stop.long}}";
        mystop["stop_name"] = "{{stop.stop_name}}";
        mystop["stop_address"] = "{{stop.stop_address}}";
        mystop["zone"] = "{{stop.zone}}";
        stops['{{stop.stop_id}}'] = mystop;
      {% endfor %}

      var routes = {};
      {% for rn in route_numbers %}
        routes["{{rn}}"] = {'I':[],'O':[]};
      {% endfor %}

      {% for stop in routes %}
        var mystop = {}
        mystop['stop_id'] = "{{stop.stop_id}}";
        mystop['sequence'] = "{{stop.sequence}}";
        mystop['distance'] = "{{stop.distance}}";
        routes['{{stop.route_number}}']['{{stop.route_direction}}'].push(mystop)
      {% endfor %}


      //console.log(stops)
      //console.log(stops['2020'])
      //console.log(stops['130'])
      //console.log(routes)
      //console.log(routes['46A'])
      //console.log(routes['46A']['I'])
      //console.log(routes['46A']['I'][0])

      $(document).ready(function(){

        Object.keys(routes).forEach(function(element){
          $('#routes').append('<option>' + element + '</option>');
        })
        
          
        $("#routes").change(function(){
          var route = $("#routes option:selected").text();
          if (route == "Select Route") {
            return;
          }
          $('#start').html('<option>Loading...</option>');
          $('#start').prop('disabled', true);
          var options = "";
          routes[route]['I'].forEach(function(element){
            options += '<option val="Incoming">' + element.stop_id + ", " + stops[element.stop_id]['stop_address'] + " (Incoming)</option>";
          });
          routes[route]['O'].forEach(function(element){
            options += '<option val="Outgoing">' + element.stop_id + ", " + stops[element.stop_id]['stop_address'] + " (Outgoing)</option>";
          });
          $('#start').html('<option>Select Start Stop</option>');
          $('#start').append(options);
          $('#start').prop('disabled', false);
        }); 
          
        $("#start").change(function(){
          var route = $("#routes option:selected").text();
          var start = $("#start option:selected").text();
          if (start == "Select Start Stop"){
            return;
          }
          var direction = $('#start').val();
          var d = direction.substr(0,1);
          $('#end').html('<option>Loading...</option>');
          $('#end').prop('disabled', true);
          var options = "";
          var found = false;
          console.log(routes);
          console.log(route);
          console.log(direction);
          console.log(d);
          routes[route][d].forEach(function(element){
            if (found){
              options += '<option>' + element.stop_id + ", " + stops[element.stop_id]['stop_address'] + " (" + direction + ")</option>";
            };
            if (start == element.stop_id){
              found = true;
            };
          });
          $('#start').html('<option>Select Start Stop</option>');
          $('#start').append(options);
          $('#start').prop('disabled', false);  
        });
          
      
            
          
        $('#post-form').on('submit', function(event){
          event.preventDefault();
          console.log("form submitted!");
          $('#results > p').text('waiting...');
          getPredictions()
        });

        function getPredictions(){
          routes=$("#routes option:selected").text();
          start_stop = $('input[name="start"]').val();
          end_stop = $('input[name="end"]').val();
          date = new Date();
          year = date.getFullYear();
          month = date.getMonth() + 1;
          day = date.getDate();
          hour = date.getHours();
          console.log("Route =", routes)
          console.log("Start Stop =", start_stop)
          console.log("End Stop =", end_stop)
          console.log("Day =", day)
          console.log("Hour =", hour)
          $.get('/predict_request/', {route: route, start_stop: start_stop, 
            end_stop: end_stop, year: year, month: month, day: day, 
            hour: hour}, function(data){
              $('#results').html(data);
          });
	        $.get('/popStop/', {route: route, start_stop: start_stop, end_stop: end_stop}, function(data){
          	popStops(data);
            drawRoute(data);//https://docs.djangoproject.com/en/2.0/ref/request-response/
          });
        };
      

        function Go(){
          document.getElementById('results').innerHTML= " "
          var start_stop;
          var end_stop;
          GetStopID(start_stop, end_stop);
        }


        function drawRoute(data){
	        directionsDisplay.setMap(map);
	        var len = Object.keys(data).length
          var start = new google.maps.LatLng(Number(data[0]["lat"]), Number(data[0]["lon"]))
          var end = new google.maps.LatLng(Number(data[len - 1]["lat"]), Number(data[len - 1]["lon"]))
          var request = {
		        origin: start,
		        destination: end,
		        travelMode: 'TRANSIT',
		        transitOptions: {
			        modes : ['BUS'],
			        routingPreference : 'FEWER_TRANSFERS'
			      },
		      }
	        directionsService.route(request, function(result, status){      
            if (status == 'OK') {
				      directionsDisplay.setDirections(result);
		        }
	        });
        }

        function popStops(context){
          console.log(context[0]["rtpi"])      
          removeMarkers();
          markers = []
          for (var key in context) { 
            var marker = new google.maps.Marker({
              position: {lat: Number(context[key]["lat"]), lng: Number(context[key]["lon"])},
              map: map,
              title: context[key]["stop"],
              //icon :  "/static/images/bus-station.svg"                
            });
            markers.push(marker)         
          };
		      var content = "<table> <tr> <th> Route </th> <th style = 'padding : 5px'> ETA(mins) </th> </tr> " 
				  for (i in context[0]["rtpi"]["results"]){
			      content = content + "<tr> <td>" + context[0]["rtpi"]["results"][i]["route"] + "</td> <td>" + context[0]["rtpi"]["results"][i]["duetime"] + "</td> </tr>"
		      };
          var infowindow = new google.maps.InfoWindow({
			      content: content
          });
          infowindow.open(map, markers[0]);
          google.maps.event.addListener(markers[0], 'click', function() {
			      console.log("hello");
			      infowindow.open(map, markers[0]);
          });
          map.setCenter(new google.maps.LatLng(Number(context[0]["lat"]), Number(context[key]["lon"])));   
        };

        function removeMarkers(){
	        for (var i = 0; i < markers.length; i++){
		        markers[i].setMap(null);
	        };
        };
      });

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADAq7_ArNs1g_fzNE-tLB0scnM5UtXXSM&callback=initMap" type = 'text/javascript'></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>   
    
  </body>
</html>